.breadcrumb {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 1%;
}
.container {
    margin-left: 4%;
    margin-right: 4%;
}

.navbar-img {
    margin-right: 3%;
}

.profile-img {
    border-radius: 9px;
}